<!DOCTYPE HTML5>
<!-- Will contain all the scripts and stylesheets -->
<html>

<head>
  <!-- GLOBAL var that tells which database to query, sends to lightbox -->
  <script>
    window.filters = "";
    window.category = "";
    window.regions = [];
  </script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <!--Persistent Nav Items-->
      <!--Side Nav-->
      <nav class="col-sm-2 pull-left container-fluid" id="side_nav">
        <div class="row">
          <div class="col-sm-12" id="Education_Button">
            <h1 class="button_title">Education</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Industry_Button">
            <h1 class="button_title">Occupation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Marital_Status_Button">
            <h1 class="button_title">Marital Status</h1>
          </div>
        </div>
      </nav>
      <!--End Side Nav-->

      <!--Visualization Button-->
      <button type="button" id="visualize_button" class="btn btn-default btn-lg">Visualize Comparison</button>

      <!--List-->
      <div class="col-sm-2" id="region_list_area">
        <ul class="list-unstyled" id="regionList">
          <!--This is where the counties would go, new li for each one-->
          <li id="region_list_button">
            <label>
              <h4>Region List</h4>
            </label>
          </li>
          <div id="region_li">
            <li region_in_list="Carlsbad List">Carlsbad</li>
            <li region_in_list="Oceanside List">Oceanside</li>
            <li region_in_list="Vista List">Vista</li>
            <li region_in_list="Del Mar List">Del Mar</li>
            <li region_in_list="Kearny Mesa List">Kearny Mesa</li>
            <li region_in_list="Miramar List">Miramar</li>
            <li region_in_list="Mid City List">Mid City</li>
            <li region_in_list="Chula Vista List">Chula Vista</li>
            <li region_in_list="Coronado List">Coronado</li>
            <li region_in_list="National City List">National City</li>
            <li region_in_list="Alpine List">Alpine</li>
            <li region_in_list="El Cajon List">El Cajon</li>
            <li region_in_list="Jamul List">Jamul</li>
            <li region_in_list="LaMesa List">La Mesa</li>
            <li region_in_list="LagunaPineValley List">Laguna-Pine Valley</li>
            <li region_in_list="Lakeside List">Lakeside</li>
            <li region_in_list="Lemon Grove List">Lemon Grove</li>
            <li region_in_list="Santee List">Santee</li>
            <li region_in_list="Spring Valley List">Spring Valley</li>
            <li region_in_list="Escondido List">Escondido</li>
            <li region_in_list="Fallbrook List">Fallbrook</li>
            <li region_in_list="North San Diego List">North San Diego</li>
            <li region_in_list="PalomarJulian List">Palmomar-Julian</li>
            <li region_in_list="Poway List">Poway</li>
            <li region_in_list="Ramona List">Ramona</li>
            <li region_in_list="San Marcos List">San Marcos</li>
            <li region_in_list="Valley Center List">Valley Center</li>
            <li region_in_list="University City List">University City</li>
          </div>
        </ul>
      </div>
      <!--End List-->
      <!--End Persistent Nav-->
      <div class="col-sm-12 container-fluid body">
        {{{body}}}
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.1.4.min.js "></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js "></script>
  <script type="text/javascript " src="js/index.js "></script>
  <script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
  <script src="http://modernizr.com/downloads/modernizr-latest.js "></script>
  <script src="js/bootstrap.min.js "></script>
  <script src="js/jquery.imagemapster.js "></script>
  <script src="js/mapinteraction.js "></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js " type="text/javascript " charset="utf-8 "></script>
  <script>
    var count = 0;

    $('#Education_Button, #Industry_Button, #Marital_Status_Button').click(function(){
      count = 0;
      $('#visualize_button').hide();
    });

    $('#visualize_button').featherlight({
          iframe: 'js/justiframe.html',
          iframeWidth: '100%',
          iframeHeight: '100%'
        });

    $('#region_li li, area').click(function() {
        console.log("Suck it!")
        
        var region_is_selected;
      
        if($(this).is('area')){
          //have a ! because it this detects if it's selected BEFORE CLICKED. So
          //regions you are activating are classified as not activated because 
          //they weren't active when you clicked
          region_is_selected = !$(this).mapster('get', $(this).attr('id'));
        }
        if( !$(this).hasClass('active_region') || region_is_selected){
          count++;
          console.log(count);
        }else{
          count--;
          console.log(count);
        }
        if( count <= 0 ) {
          $('#visualize_button').hide();
        }else{
          $('#visualize_button').show();
        }
    });

  </script>


</body>

</html>
