<!DOCTYPE HTML5>
<!-- Will contain all the scripts and stylesheets -->
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />  
    <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/custom.css" /> -->
  </head>

  <body>
    <script src="js/c3.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/foundation.js"></script>
    {{{body}}}

   
    <script src="js/bootstrap.js"></script>
    <script src="js/foundation.offcanvas.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="js/jquery.imagemapster.js"></script>

    <!-- THIS GETS THE DATA, LOADS IT-->
    <!-- <script src="js/index.js"></script> -->


    <!-- <script> $(document).foundation(); </script> -->
  </body>




</html>