<!DOCTYPE HTML5>
<!-- Will contain all the scripts and stylesheets -->
<html>

<head>
  <!-- GLOBAL var that tells which database to query, sends to lightbox -->
  <script>
    var filters = "";
    var category = "";
    var regions = "";

  </script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
  <link rel="stylesheet" type="text/css" href="/css/c3.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <!--<link rel="stylesheet" type="text/css" href="css/tipped.css" />-->
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
</head>

<body>
  
  <script src="http://code.jquery.com/jquery-2.1.4.min.js "></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js "></script>
  <script type="text/javascript " src="js/index.js "></script>
  <script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
  <!--<script src="js/tipped.js"></script>-->
  <script src="http://modernizr.com/downloads/modernizr-latest.js "></script>
  <script src="js/bootstrap.min.js "></script>
  <script src="js/jquery.imagemapster.js "></script>
  <script src="js/mapinteraction.js "></script>
  <script src="js/d3.min.js"></script>
  <script src="js/c3.min.js"></script>
  <script src="js/pie.js"></script>
  <!--<script src="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js " type="text/javascript " charset="utf-8 "></script>
  <script>
    $('#visualize_button').featherlight({
      iframe: 'js/justiframe.html',
      iframeWidth: '100%',
      iframeHeight: '100%'
    });

  </script>-->

  <div class="container-fluid">
    <div class="row">
      <!--Persistent Nav Items-->
      <!--Side Nav-->
      <nav class="col-sm-2 pull-left container-fluid" id="side_nav">
        <div class="row">
          <div class="col-sm-12" id="Education_Button">
            <h1 class="button_title">Education</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Industry_Button">
            <h1 class="button_title">Occupation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Marital_Status_Button">
            <h1 class="button_title">Marital Status</h1>
          </div>
        </div>
      </nav>
      <!--End Side Nav-->

      

      <!--List-->
      <div class="col-sm-1" id="region_list_area">
        <ul class="list-unstyled" id="regionList">
          <!--This is where the counties would go, new li for each one-->
          <li id="region_list_button">
            <label>
              <h4>Region List</h4>
            </label>
          </li>
          <div id="region_li">
            <li id="Carlsbad List">Carlsbad</li>
            <li id="Oceanside List">Oceanside</li>
            <li id="Vista List">Vista</li>
            <li id="Del Mar List">Del Mar</li>
            <li id="Kearny Mesa List">Kearny Mesa</li>
            <li id="Miramar List">Miramar</li>
            <li id="Mid City List">Mid City</li>
            <li id="Chula Vista List">Chula Vista</li>
            <li id="Coronado List">Coronado</li>
            <li id="National City List">National City</li>
            <li id="Alpine List">Alpine</li>
            <li id="El Cajon List">El Cajon</li>
            <li id="Jamul List">Jamul</li>
            <li id="LaMesa List">La Mesa</li>
            <li id="LagunaPineValley List">Laguna-Pine Valley</li>
            <li id="Lakeside List">Lakeside</li>
            <li id="Lemon Grove List">Lemon Grove</li>
            <li id="Santee List">Santee</li>
            <li id="Spring Valley List">Spring Valley</li>
            <li id="Escondido List">Escondido</li>
            <li id="Fallbrook List">Fallbrook</li>
            <li id="North San Diego List">North San Diego</li>
            <li id="PalomarJulian List">Palmomar-Julian</li>
            <li id="Poway List">Poway</li>
            <li id="Ramona List">Ramona</li>
            <li id="San Marcos List">San Marcos</li>
            <li id="Valley Center List">Valley Center</li>
            <li id="University City List">University City</li>
          </div>
        </ul>
      </div>
      <!--End List-->
      <!--End Persistent Nav-->
      <div class="col-sm-12 container-fluid body">
        {{{body}}}
      </div>
    </div>
  </div>

</body>

</html>