<!DOCTYPE HTML5>
<!-- Will contain all the scripts and stylesheets -->
<html>

<head>
  <!-- GLOBAL var that tells which database to query, sends to lightbox -->
  <script>
    var filters = "";
    var category = "";
    var regions = "";
  </script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <!--Persistent Nav Items-->
      <!--Side Nav-->
      <nav class="col-sm-2 pull-left container-fluid" id="side_nav">
        <div class="row">
          <div class="col-sm-12" id="education_button">
            <h1 class="button_title">Education</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="occupation_button">
            <h1 class="button_title">Occupation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="marital_status_button">
            <h1 class="button_title">Marital Status</h1>
          </div>
        </div>
      </nav>
      <!--End Side Nav-->

      <!--Visualization Button-->
      <button type="button" id="visualize_button" class="btn btn-default btn-lg">Visualize Comparison</button>

      <!--Box where hover information is going to go. Talk to David for how this is gonna happen, 
      may be a little complex.-->
      <div id="hover_info">

      </div>

      <!--List-->
      <div class="col-sm-1" id="region_list_area">
        <ul class="list-unstyled" id="regionList">
          <!--This is where the counties would go, new li for each one-->
          <li id="region_list_button">
            <label>
              <h4>Region List</h4>
            </label>
          </li>
          <div id="region_li">
            <li id="carlsbadList">Carlsbad</a></li>
            <li id="oceansideList">Oceanside</a></li>
            <li id="vistaList">Vista</a></li>
            <li id="delMarList">Del Mar</a></li>
            <li id="kearnyMesaList">Kearny Mesa</a></li>
            <li id="miramarList">Miramar</a></li>
            <li id="midCityList">Mid City</a></li>
            <li id="chulaVistaList">Chula Vista</a></li>
            <li id="coronadoList">Coronado</a></li>
            <li id="nationalCityList">National City</a></li>
            <li id="alpineList">Alpine</a></li>
            <li id="elCajonList">El Cajon</a></li>
            <li id="jamulList">Jamul</a></li>
            <li id="laMesaList">La Mesa</a></li>
            <li id="lagunaPineValleyList">Laguna-Pine Valley</a></li>
            <li id="lakesideList">Lakeside</a></li>
            <li id="lemonGroveList">Lemon Grove</a></li>
            <li id="santeeList">Santee</a></li>
            <li id="springValleyList">Spring Valley</a></li>
            <li id="escondidoList">Escondido</a></li>
            <li id="fallbrookList">Fallbrook</a></li>
            <li id="northSanDiegoList">North San Diego</a></li>
            <li id="palomarJulianList">Palmomar-Julian</a></li>
            <li id="powayList">Poway</a></li>
            <li id="ramonaList">Ramona</a></li>
            <li id="sanMarcosList">San Marcos</a></li>
            <li id="valleyCenterList">Valley Center</a></li>
            <li id="universityCityList">University City</a></li>
          </div>
        </ul>
      </div>
      <!--End List-->
      <!--End Persistent Nav-->
      <div class="col-sm-12 container-fluid body">
        {{{body}}}
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js "></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js "></script>
  <script type="text/javascript " src="js/index.js "></script>
  <script src="http://modernizr.com/downloads/modernizr-latest.js "></script>
  <script src="js/bootstrap.min.js "></script>
  <script src="js/jquery.imagemapster.js "></script>
  <script src="js/mapinteraction.js "></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js " type="text/javascript " charset="utf-8 "></script>
  <script>
    $('#visualize_button').featherlight({
      iframe: 'js/justiframe.html',
      iframeWidth: '100%',
      iframeHeight: '100%'
    });
  </script>

</body>




</html>