<!DOCTYPE HTML5>
<!-- Will contain all the scripts and stylesheets -->
<html>

<head>
  <!-- GLOBAL var that tells which database to query, sends to lightbox -->
  <script>
    window.filters = "";
    window.category = "";
    window.regions = [];
  </script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <!--Persistent Nav Items-->
      <!--Side Nav-->
      <nav class="col-sm-2 pull-left container-fluid" id="side_nav">
        <div class="row">
          <div class="col-sm-12" id="Education_Button">
            <h1 class="button_title">Education</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Industry_Button">
            <h1 class="button_title">Occupation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="Marital_Status_Button">
            <h1 class="button_title">Marital Status</h1>
          </div>
        </div>
      </nav>
      <!--End Side Nav-->

      <!--Visualization Button-->
      <button type="button" id="visualize_button" class="btn btn-default btn-lg">Visualize Comparison</button>

      <!--List-->
      <div class="col-sm-1" id="region_list_area">
        <ul class="list-unstyled" id="regionList">
          <!--This is where the counties would go, new li for each one-->
          <li id="region_list_button">
            <label>
              <h4>Region List</h4>
            </label>
          </li>
          <div id="region_li">
            <li id="Carlsbad List">Carlsbad</a></li>
            <li id="Oceanside List">Oceanside</a></li>
            <li id="Vista List">Vista</a></li>
            <li id="Del Mar List">Del Mar</a></li>
            <li id="Kearny Mesa List">Kearny Mesa</a></li>
            <li id="Miramar List">Miramar</a></li>
            <li id="Mid City List">Mid City</a></li>
            <li id="Chula Vista List">Chula Vista</a></li>
            <li id="Coronado List">Coronado</a></li>
            <li id="National City List">National City</a></li>
            <li id="Alpine List">Alpine</a></li>
            <li id="El Cajon List">El Cajon</a></li>
            <li id="Jamul List">Jamul</a></li>
            <li id="LaMesa List">La Mesa</a></li>
            <li id="LagunaPineValley List">Laguna-Pine Valley</a></li>
            <li id="Lakeside List">Lakeside</a></li>
            <li id="Lemon Grove List">Lemon Grove</a></li>
            <li id="Santee List">Santee</a></li>
            <li id="Spring Valley List">Spring Valley</a></li>
            <li id="Escondido List">Escondido</a></li>
            <li id="Fallbrook List">Fallbrook</a></li>
            <li id="North San Diego List">North San Diego</a></li>
            <li id="PalomarJulian List">Palmomar-Julian</a></li>
            <li id="Poway List">Poway</a></li>
            <li id="Ramona List">Ramona</a></li>
            <li id="San Marcos List">San Marcos</a></li>
            <li id="Valley Center List">Valley Center</a></li>
            <li id="University City List">University City</a></li>
          </div>
        </ul>
      </div>
      <!--End List-->
      <!--End Persistent Nav-->
      <div class="col-sm-12 container-fluid body">
        {{{body}}}
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.1.4.min.js "></script>
  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js "></script>
  <script type="text/javascript " src="js/index.js "></script>
  <script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
  <script src="http://modernizr.com/downloads/modernizr-latest.js "></script>
  <script src="js/bootstrap.min.js "></script>
  <script src="js/jquery.imagemapster.js "></script>
  <script src="js/mapinteraction.js "></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js " type="text/javascript " charset="utf-8 "></script>
  <script>
    $('#visualize_button').featherlight({
      iframe: 'js/justiframe.html',
      iframeWidth: '100%',
      iframeHeight: '100%'
    });

  </script>


</body>

</html>