<a href="/index">
  <button type="button" id="home_button" class="btn btn-default btn-lg">Return to Map</button>
</a>

<div class="row">
  <div class="small-4 columns" id="buttonArea">
    [[button area]]

  </div>
  <div class="small-8 columns" id="chart"></div>
</div>
<script> make_pie();</script>