.sidebar-form{
  margin:2%; 
  width:95%;
  color:rgba(255, 255, 255, 0.7);
}
.map_section{
  height: 100%; 
}
/*
.main-section{
  background-image: url(../img/Fakemap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*/
.fullPageRow{
  width:100%;
  max-width: none !important;
  height:95%;
}
.active{
  background-color: skyblue;
}
#visualize{
  position: fixed;
  z-index: 1;
  top:10%;
  left:80%;
}