.featherlight-content {
  width: 80%;
}

/*OVERLAY NAV STYLING*/


/*For all floating nav items*/
#side_nav,
#region_list_area,
#visualize_button,
#hover_info{
  z-index: 1;
  position: fixed;
}

#side_nav{
  top: 0;
  left: 0;
  box-shadow: 2px 5px 3px slategray;
}

#visualize_button{
  top: 5%;
  left: 20%;
}

#visualize_button,
#region_list_area,
#hover_info{
  background-color: rgba(0,0,0,.2); 
}

#hover_info{
  height:50%;
  width:30%;
  top:70%;
  left:20%;
  /*border-radius: 5px;*/
}

/*Sidebar Styling*/

#side_nav {
  height: 100%;
  background-color: white;
}

#Education_Button,
#Industry_Button,
#Marital_Status_Button {
  height: 33.3%;
  padding-top: 40%;
  text-align: center;
  /*border: black solid;*/
}

/*Huge Nav Button Title Styling*/
.button_title, 
#visualize_button,
#regionList li
{
  color: floralwhite;
}

/*Education Button Styling*/
#Education_Button {
  background-color: rgba(0, 255, 255, .7);
}

#Education_Button:hover {
  background-color: rgba(0, 255, 255, 1);
}

/*Occupation Button Styling*/
#Industry_Button {
  background-color: rgba(178, 34, 34, .7);
}

#Industry_Button:hover {
  background-color: rgba(178, 34, 34, 1);
}

/*Marital Button Styling*/
#Marital_Status_Button {
  background-color: rgba(50, 205, 50, .7);
}

#Marital_Status_Button:hover {
  background-color: rgba(50, 205, 50, 1);
}

/*Regional List Button Styling*/
#region_list_area {
  right:0;
  padding: 0;
  border-bottom-left-radius: 10px;
  /*border-bottom-right-radius: 4px;*/
}

/*List Styling*/
.active_region,
#regionList li:hover{
  background-color: rgba(0,0,0,.6);
  
}
#regionList li{
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  /*border-bottom: solid 1px rgba(0,0,0,.4);*/
}
#region_li{
   display: none;
}

/*END NAV OVERLAY STYLING*/


/*Body Styling*/
.body {
  height: 100%;
  padding: 0;
  /*THIS IS WHERE WE SET THE COLOR, PROLLY IN JQUERY*/
  /**background-color: teal; **/
}
/*Map Styling*/

#map{
  height: 100%;
}